/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.toc {
  flex: 0 0 250px;
  padding-right: 2rem;
}

.content {
  flex: 1;
}